{% extends 'base.html' %}
{% block title %}
Feedback
{% endblock %}
{% block content %}
<h1 class="display-1 text-center">Add Feedback</h1>
<div class="container">
    <div class="mx-auto w-50">

        {% for msg in get_flashed_messages() %}
        <small class="text-info">{{msg}}</small>
        {% endfor %}

        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden'%}
            <div>
                {{field.label(class_="form-label")}}
                {{field(class_="form-control")}}

                {% for error in field.errors %}
                <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-primary mt-3">Add</button>
        </form>
    </div>
</div>
{% endblock %}
